:root {
  --light: #e4e4f6;
  --accent: #4744b6;
  --accent-dark: #3f3bad;
  --white: #ffffff;
  --black: #000000;
  --gray: #a9a6a6;
  --rounded: 10px;

  --sm: 14px;
  --md: 20px;

  --border-color: var(--gray);
}

body {
  font-family: Roboto;
  background: var(--light);
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100lvh;
}

.card {
  background: var(--white);
  padding: var(--md);
  border-radius: var(--rounded);
  min-width: 350px;
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.16);
}

.title {
  font-size: 2rem;
}

.title,
.subtitle {
  font-weight: 600;
  text-align: center;
}

.social-login {
  display: flex;
  gap: 10px;
}

.social-login button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-weight: 600;
  border-radius: 12px;
  padding: 10px;
}

.social-login button:hover {
  background-color: var(--accent);
  color: var(--white);
}

.social-login button,
.or::before,
.email-login input,
.cta-btn,
.social-login button:focus-within {
  border: 1px solid var(--border-color);
}

.social-login button:focus-within {
  --border-color: var(--accent);
  background-color: transparent;
  color: var(--gray);
}

.social-login .google-btn {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.social-login .fb-btn {
  flex-grow: 0;
}

.social-login button img {
  height: 2rem;
}

.or {
  text-align: center;
  font-weight: 600;
  position: relative;
  z-index: 9;
}

.or span {
  background: var(--white);
  position: relative;
  padding: 0 1rem;
  z-index: 999;
}

.or::before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  z-index: 22;
}

form {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}

.email-login {
  display: flex;
  flex-flow: column;
  gap: calc(var(--md) / 2);
}

.email-login label {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray);
}

.email-login input {
  padding: var(--sm);
  border-radius: var(--rounded);
  position: relative;
}

.cta-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: var(--md);
  border-radius: var(--rounded);
  background-color: var(--accent);
  color: var(--white);
  text-align: center;
}

.cta-btn:hover {
  background-color: var(--accent-dark);
}

.forget-pass {
  color: var(--accent);
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-weight: 600;
}
